<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1056693478540-j0naqbsgg7s9rq157detbjeub1itbqmo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056693478540-j0naqbsgg7s9rq157detbjeub1itbqmo</string>
	<key>API_KEY</key>
	<string>AIzaSyBsWUhqjRzS3ELHaKxOC4O97pm8IUYyF1c</string>
	<key>GCM_SENDER_ID</key>
	<string>1056693478540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mas.MAS-Peer-Assignment</string>
	<key>PROJECT_ID</key>
	<string>mas-peer-assignment</string>
	<key>STORAGE_BUCKET</key>
	<string>mas-peer-assignment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056693478540:ios:561c9dd825d6d0ff</string>
	<key>DATABASE_URL</key>
	<string>https://mas-peer-assignment.firebaseio.com</string>
</dict>
</plist>